.about-page__section{
          padding: 30px;


  .about-page__title{
            font-size: 2rem;
            font-weight: 600;
  }
  .about-page__content{
          font-size: 1.5rem;
          font-weight: 200;
  }
}