.blog-page__image {
  background-image: url(/img/blog-index.jpg);
  margin-top: 0;
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-page__image .blog-page__title {
  box-shadow: #ff4400 0.5rem 0px 0px, #ff4400 -0.5rem 0px 0px;
  background-color: #ff4400;
  color: white;
  padding: 1rem;
  font-size: 30px;
}

.blog-page__section {
  padding: 3rem 1.5rem;
}
