.contactform{
          margin: 50px;

  .contactform__content{
          // text-align: center;
  

  .contactform__title{
          font-size: 40px;
          // text-align: center;
          margin: 10px;
  }

  .contactform__field{
          margin: 10px 0;


  .contactform__label{
            font-size: 20px;
            
  }

  .contactform__input{
            height: 45px;
            width: 500px;
  }
  .contactform__textarea{
            height: 90px;
            width: 500px;
  }
  .contactform__button{
          margin-top: 10px;
          font-size: 1.4em;
          font-weight: bold;
          padding: 8px 15px;
          background-color:#3273dc;
          border-color:transparent;
          color: #fff;
  }
  }
  }
}