.thanks__container {
  padding: 3rem 1.5rem;
  .thanks__content {
    .thanks__title {
      font-size: 30px;
      font-weight: 600;
    }
    .thanks__message {
      font-size: 25px;
      font-weight: 300;
    }
  }
}
