.testimonials__content{
margin: 20px 0;
        .testimonials__message{
          margin-bottom: 1.5rem;
          background-color: #f5f5f5;
          border-radius: 4px;
          font-size: 1rem;
                .testimonials__message-body{
                    border-radius: 4px;
                    border: solid #dbdbdb;
                    border-width: 0 0 0 4px;
                    color: #4a4a4a;
                    padding: 1.25em 1.5em;
                }  
        }  
}